{{ 'section-shoplook.css' | asset_url | stylesheet_tag }}

<div class="main_shop_thelook page-width">
    <h1 class="shop_look__header">shop the look</h2>
    <div class="shop_look">
        <div class="shop_look_img_block">
            {% for product in section.settings.collection.products %}   
             <img src="{{ product.images[0].src | img_url: 'medium' }}" class="imgs_"{{ forloop.index }}>
            {% endfor %}     
        </div>
        <div class="shop_look_product">
            {% for product in section.settings.collection.products %}   
            <div class="shop_look_right_block">
                <p class="shop_look_product_title"> {{ product.title }}</p>
                <p class="shop_look_product_price"> {{ product.price | money}}</p>
            </div>
              
            {% endfor %} 
        </div>
    </div>
</div>
{% schema %}
{
    "name":"Shop look",
    "settings": [
        {
            "type" : "collection",
            "id": "collection",
            "label": "Shop the look"
        }
    ],
    "presets" : [
        {
          "name" :  "Shop look" 
        }
    ]
}
{% endschema %}